* {
  font-family: 'Girassol', cursive;
}

.title-font {
  font-family: 'Saira Stencil One', cursive;
}

.fa-plus-square {
  opacity: 0.3;
}

.main-container {
  max-width: 1330px;
}

.search-md {
  position: absolute;
  bottom: 10%;
  left: 25%;
}

.pos-rel {
  position: relative;
}

.abs-bottom {
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.text-star-wars {
  color: yellow;
}

.product:hover {
  transform: scale(1.03);
  -webkit-box-shadow: 18px 20px 32px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 18px 20px 32px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 18px 20px 32px -20px rgba(0, 0, 0, 0.5);
}
